---
import SocialIcons from "./SocialIcons.astro";
---

<div
  class="w-full mx-auto bg-fixed bg-auto bg-center flex flex-col md:flex-row justify-center items-center h-96 "
  style="background-image:url(https://res.cloudinary.com/diiabesnk/image/upload/v1689623465/axdafxbsdub9uh2kxgqq.avif)"
>
  <div
    class="w-full md:w-1/2 flex justify-center items-center xl:justify-end mx-4 md:justify-center"
  >
    <h3 class="text-3xl font-semibold text-white">Mantente en contacto</h3>
  </div>

  <div
    class="w-full md:w-1/2 flex justify-center items-center mt-4 md:mt-0 xl:justify-start md:justify-center"
  >
    <SocialIcons iconColor="white" />
  </div>
</div>
