---
import EstanciasImg from "@components/layout/EstanciasImg.astro";
import { estancias } from "@data/estancias";
---

<section class="bg-zinc-100 dark:bg-zinc-800 transition-colors duration-200">
  <div class="container px-6 py-10 mx-auto max-w-[1400px]">
    <div>
      <h1 class="text-3xl font-semibold text-center capitalize lg:text-6xl">
        Estancias
      </h1>

      <p class="mt-4 text-center text-lg">
        En este portal web podr치s consultar toda la informaci칩n de los mejores
        servicios de hospedaje en donde encontraras una selecci칩n puntual de
        hoteles, caba침as, casas, villas y hostales.
      </p>
    </div>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3 overflow-hidden"
    >
      {
        estancias.map((estancia) => (
          <EstanciasImg
            src={estancia.src}
            alt={estancia.alt}
            content={estancia.content}
            href={estancia.href}
          />
        ))
      }
    </div>
  </div>
</section>
