---
interface Props {
  src: ImageMetadata;
  alt?: string;
  content: string;
  href: string;
}
const { src, content, href } = Astro.props;
---

<div
  class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group hover:drop-shadow-xl hover:shadow-amber-900 hover:shadow-2xl shadow-md"
  style={{ backgroundImage: `url('${src}')` }}
>
  <div
    class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
  >
    <h2 class="mt-4 text-xl font-semibold text-white capitalize">
      {content}
    </h2>
    <p class="mt-2 text-lg tracking-wider text-amber-400 uppercase">
      <a href={href}>Ir</a>
    </p>
  </div>
</div>
