---
import ProcesarImg from "@components/ProcesarImg.astro";

interface Props {
  src: ImageMetadata;
  alt?: string;
  content: string;
  href: string;
}
const { src, content, href } = Astro.props;
---

<a
  href={href}
  class="relative h-96 overflow-hidden rounded-xl text-zinc-800 group transition-colors duration-200 items-end inset-0"
>
  <ProcesarImg
    img={src}
    imgClass="h-full w-full object-cover shadow-sm  object-cover transition-all  duration-300 group-hover:scale-125 absolute object-cover object-center"
    calida="mid"
    alt="Estancias"
  />

  <div
    class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"
  >
    <div class="justify-end items-end flex">
      <span
        class="relative text-xl mr-5 my-2 inline-block text-zinc-200  md:mr-5 md:text-xl font-bold"
      >
        {content}
      </span>
    </div>
  </div>
</a>
