---
import ProcesarImg from "@components/ProcesarImg.astro";

interface Props {
  src: ImageMetadata;
  alt?: string;
  content: string;
  href: string;
}
const { src, content, href } = Astro.props;
---

<div
  class="relative flex w-96 flex-col rounded-xl bg-clip-border text-zinc-800 shadow-lg dark:bg-zinc-700 dark:text-zinc-200 border-2 border-zinc-300 dark:border-none bg-zinc-100"
>
  <div
    class="relative mx-2 mt-2 h-72 overflow-hidden rounded-xl bg-zinc-100 bg-clip-border text-zinc-800 group"
  >
    <ProcesarImg
      img={src}
      imgClass="h-full w-full object-cover shadow-sm  object-cover transition group-hover:scale-125 duration-500"
      calida="mid"
      alt="Estancias"
    />
    <div
      class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"
    >
    </div>
  </div>
  <div class="p-4">
    <div class="flex items-center justify-center space-x-2">
      <p class="block font-sans font-medium leading-relaxed text-2x">
        <a
          class="hover:text-lime-800 underline-offset-4 hover:underline"
          href={href}>{content}</a
        >
      </p>
    </div>
  </div>
</div>
