---
---

<div class="max-w-[1400px] m-auto w-full px-4 ">
  <h2 class="text-center text-rose-600 font-bold p-4 text-5xl lg:text-4xl">
    Galería
  </h2>
  <div class="grid sm:grid-cols-5 gap-4">
    <div class="sm:col-span-3 col-span-2 row-span-2">
      <img
        class="rounded-lg w-full h-full object-cover"
        src="https://res.cloudinary.com/diiabesnk/image/upload/v1688700750/fqmboongcbjv6pocsx5o.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="rounded-lg w-full h-full object-cover"
        src="https://res.cloudinary.com/diiabesnk/image/upload/v1688700750/xsc6plinktvezxs7s84n.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="rounded-lg w-full h-full object-cover"
        src="https://res.cloudinary.com/diiabesnk/image/upload/v1688067858/tyrbaz7gna4nlznwfyhl.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="rounded-lg w-full h-full object-cover"
        src="https://res.cloudinary.com/diiabesnk/image/upload/v1688700750/zuptf7zrtd54uhgcmruy.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="rounded-lg w-full h-full object-cover"
        src="https://res.cloudinary.com/diiabesnk/image/upload/v1688700750/jvsrg6ean31nydle3dzl.jpg"
        alt=""
      />
    </div>
  </div>
</div>
