---
---

<div class="max-w-[1400px] m-auto py-8 px-4 grid lg:grid-cols-2 gap-4">
  <div class="grid grid-cols-2 grid-rows-6 h-[80vh]">
    <img
      class="row-span-3 object-cover w-full h-full p-2 rounded-xl"
      src="https://res.cloudinary.com/diiabesnk/image/upload/v1688614563/upv7zykt999hiwsvuhlq.jpg"
      alt=""
    />
    <img
      class="object-cover w-full h-full p-2 row-span-2 rounded-xl"
      src="https://res.cloudinary.com/diiabesnk/image/upload/v1688614564/sajmwdgz4qdglkm2hsmq.jpg"
      alt=""
    />
    <img
      class="object-cover w-full h-full p-2 row-span-2 rounded-xl"
      src="https://res.cloudinary.com/diiabesnk/image/upload/v1688614563/upv7zykt999hiwsvuhlq.jpg"
      alt=""
    />
    <img
      class="object-cover w-full h-full p-2 row-span-3 rounded-xl"
      src="https://res.cloudinary.com/diiabesnk/image/upload/v1688614563/e1bsgsbsiqqbeocee1mp.jpg"
      alt=""
    />
    <img
      class="object-cover w-full h-full p-2 row-span-2 rounded-xl"
      src="https://res.cloudinary.com/diiabesnk/image/upload/v1688614564/yf7rfjohfbqv9y4oqh3n.jpg"
      alt=""
    />
  </div>

  <div class="flex flex-col h-full justify-center">
    <h3 class="text-5xl md:text-6xl font-bold">Planea tu proximo viaje</h3>
    <p class="text-xl py-6">
      Te ofrecemos: Terrazas Campestres, Explanadas, Organización de Banquete,
      Decoración, Montajes, Meseros, Iluminación, Animación, Fotografía, Video,
      Drone, Mesa de Postres, Arreglos Florales, Sets de Fotos, Banda, Grupos
      Versátil, Orquestas, Hoteles, Cabañas, Tours, todo lo necesario para que
      tu Boda sea inolvidable.
    </p>
    <p class="pb-6">
      Nuestra prioridad es tu tranquilidad, hacemos realidad la Boda de tus
      sueños. Diseñamos Eventos Únicos. Pasión y Buen Gusto.
    </p>
    <div>
      <button class="border-black mr-4 hover:shadow-xl border rounded-lg p-2">
        <a href="/volcancafe/contacto"> Agenda tu viaje</a>
      </button>
    </div>
  </div>
</div>
