  ---
---

<div
  class="max-w-[1400px] h-[500px] bg-rose-100 mx-auto my-5 pt-16 lg:mb-[15%] px-4 grid lg:grid-cols-3 gap-4 rounded-lg"
>
  <div class="lg:top-20 relative lg:col-span-1 col-span-2">
    <h3 class="text-2xl font-bold">Bodas</h3>
    <p class="pt-4">
      La mejor organización, logística, coordinación, asesoría, decoración y
      proveedores, la encontraras con nuestros wedding planners exclusivos.
    </p>
    <p class="pt-4">
      Si buscas un <span class="text-rose-700 underline font-semibold"
        >Wedding Planner</span
      > para organizar tu <span class="text-rose-700 underline font-semibold"
        >Boda</span
      >, ¡Nosotros Somos Tu Mejor Opción!
    </p>

    <div class="pt-4">
      <button
        class="border-rose-700 mr-4 hover:shadow-xl border rounded-lg p-2"
      >
        <a href="/volcancafe/contacto"> Cotiza tu boda</a>
      </button>
    </div>
  </div>

  <div class="grid grid-cols-2 col-span-2 gap-2">
    <img
      class="object-cover w-full h-full rounded-lg"
      src="https://res.cloudinary.com/diiabesnk/image/upload/v1688700750/kh68pukagstprxuynrjr.jpg"
      alt="Boda 1"
    />
    <img
      class="row-span-2 object-cover w-full h-full rounded-lg"
      src="https://res.cloudinary.com/diiabesnk/image/upload/v1688700750/j7tncmqthw8xgfjjdoqa.jpg"
      alt=" Boda 3"
    />
    <img
      class="object-cover w-full h-full rounded-lg"
      src="https://res.cloudinary.com/diiabesnk/image/upload/v1688700750/nxjfep7xmf22rjrm1gso.jpg"
      alt="Boda 2"
    />
  </div>
</div>
