---
interface Props {
  href: string;
  pathd: string;
  colore?: string;
}
const { href, pathd, colore } = Astro.props;
---

<a href={href} class="px-2 py-2.5" target="_blank">
  <svg
    class="hover:scale-110 "
    xmlns="http://www.w3.org/2000/svg"
    width="48"
    height="48"
    viewBox="0 0 24 24"
  >
    <path d={pathd} fill={colore} class="cursor-pointer "></path>
  </svg>
</a>
