---
---

<div class="transition-colors duration-200">
  <div class="container px-6 py-8 mx-auto">
    <h1 class="text-2xl font-semibold text-center capitalize lg:text-3xl">
      Precios
    </h1>

    <p class="max-w-2xl mx-auto mt-4 text-center xl:mt-6">
      Preguntar por los precios cuando son menos personas de lo estimado.
    </p>

    <div
      class="grid grid-cols-1 gap-8 mt-6 xl:mt-12 xl:gap-12 md:grid-cols-2 lg:grid-cols-3"
    >
      <div
        class="w-full p-8 space-y-8 text-center border border-zinc-200 rounded-lg dark:border-zinc-700"
      >
        <p class="font-medium uppercase">Temporada Alta</p>

        <h2 class="text-4xl font-semibold uppercase">$Precio</h2>

        <p class="font-medium">Minimo 2 noches</p>

        <a href="">
          <button
            class="text-zinc-100 w-full px-4 py-2 mt-10 tracking-wide capitalize transition-colors duration-300 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-80"
          >
            Agendar visita
          </button>
        </a>
      </div>

      <div class="w-full p-8 space-y-8 text-center bg-indigo-600 rounded-lg">
        <p class="font-medium text-zinc-200 uppercase">Precio Recurrente</p>

        <h2
          class="text-5xl font-bold text-zinc-100 uppercase dark:text-zinc-300"
        >
          $Precio
        </h2>

        <p class="font-medium text-zinc-200">Minimo 2 noches</p>

        <a href="">
          <button
            class="w-full px-4 py-2 mt-10 tracking-wide text-indigo-500 capitalize transition-colors duration-200 transform bg-zinc-50 rounded-md hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:ring focus:ring-gray-200 focus:ring-opacity-80"
            >Agendar Visita
          </button></a
        >
      </div>

      <div
        class="w-full p-8 space-y-8 text-center border border-zinc-200 rounded-lg dark:border-zinc-700"
      >
        <p class="font-medium uppercase">Navidad y Año Nuevo</p>

        <h2
          class="text-4xl font-semibold  uppercase "
        >
          $Precio
        </h2>

        <p class="font-medium">
          Minimo 2 Noches
        </p>

        <a href="">
          <button
            class="w-full px-4 py-2 mt-10 tracking-wide text-zinc-100 capitalize transition-colors duration-300 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-80"
          >
            Agendar visita
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
