---
import ProcesarImg from "@components/ProcesarImg.astro";
import images from "@data/imagesA";
---

<section>
  <div class="container px-6 mx-auto py-8">
    <h2 class="text-2xl font-semibold text-center capitalize lg:text-3xl">
      Recorridos 2023
    </h2>

    <div class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
      <div class="w-full max-w-md">
        <ProcesarImg
          imgClass="object-cover object-center w-full h-full mx-auto rounded-lg"
          img={images.sayula}
          alt="Sayulita"
          calida="mid"
        />
      </div>

      <div class="w-full max-w-md">
        <ProcesarImg
          imgClass="object-cover object-center w-full h-full mx-auto rounded-lg"
          img={images.huasteca}
          alt="La huasteca"
          calida="mid"
        />
      </div>

      <div class="w-full max-w-md">
        <ProcesarImg
          imgClass="object-cover object-center w-full h-full mx-auto rounded-lg"
          img={images.isla}
          alt="Isla cocinas"
          calida="mid"
        />
      </div>

      <div class="w-full max-w-md">
        <ProcesarImg
          imgClass="object-cover object-center w-full h-full mx-auto rounded-lg"
          img={images.guardias}
          alt="Las guardias del alcomún"
          calida="mid"
        />
      </div>
    </div>
  </div>
</section>
