---
import TextCard from "@components/tours/TextCard.astro";
---

<div
  class="max-w-[1400px] mx-auto py-8 px-4 grid lg:grid-cols-2 gap-4 sm:grid-cols-2 xl:grid-cols-2 container"
>
  <div class="w-full max-w-md flex items-center justify-end py-4 ">
    <a href="tel:+523122707569">
        <img
        src="https://res.cloudinary.com/diiabesnk/image/upload/v1689143464/aoh0xiqrjf4cfggfeuvj.jpg"
        alt="Helicopter colima"
        class="object-cover object-center mx-auto w-full rounded-lg "
      />
    </a>
  
  </div>

  <TextCard
    lugar="Mazamitla"
    fecha="S치bado 01 de julio"
    lugar2="Parque Nacional Volc치n Nevado"
    fecha2="Domingo 02 de julio"
    lugar3="Pe침a Blanca"
    fecha3="S치bado 10 de julio"
    lugar4="Tapalpa"
    fecha4="Domingo 11 de julio"
  />
</div>
