---
export interface Props {
  nombre?: string;
  distancia?: string;
  precio?: string;
  duracion?: string;
  href?: string;
}

const { precio, nombre, distancia, href, duracion } = Astro.props;
---

<div
  class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-zinc-100 bg-clip-border text-zinc-800 shadow-lg dark:bg-zinc-700 dark:text-zinc-200"
>
  <div
    class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-zinc-500 bg-clip-border shadow-lg shadow-blue-zinc-500/40 group"
  >
    <img
      src="https://images.unsplash.com/photo-1499696010180-025ef6e1a8f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
      alt="Tours"
      class="object-cover transition group-hover:scale-125 duration-700"
    />
    <div
      class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60"
    >
    </div>
  </div>
  <div class="p-6">
    <div class="mb-3 flex items-center justify-between">
      <h5
        class="block text-xl font-medium leading-snug tracking-normal antialiased"
      >
        {nombre}
      </h5>
    </div>
    <p class="block text-base leading-relaxed antialiased">
      Recorrido aproximado de <span class="text-lime-600 font-bold">
        {distancia}</span
      >
    </p>
    <p class="block text-base leading-relaxed antialiased">
      Duración aproximada <span class="text-lime-600 font-bold">{duracion}</span
      >
    </p>

    <p class="block text-base leading-relaxed antialiased">
      <span class="font-bold text-lime-600">$</span>{precio}
    </p>
  </div>
</div>
