---
import SocialIcons from "@components/layout/SocialIcons.astro";

const menuitems = [
  {
    title: "Cabañas",
    path: "/volcancafe/cabanas",
  },
  {
    title: "Casas Descanso",
    path: "/volcancafe/descanso",
  },
  {
    title: "Villas",
    path: "/volcancafe/villas",
  },
  {
    title: "Hoteles",
    path: "/volcancafe/hoteles",
  },

  {
    title: "Tours",
    path: "/volcancafe/tours",
  },
  { title: "Bodas", path: "/volcancafe/bodas" },

  {
    title: "Contacto",
    path: "/volcancafe/contacto",
  },
];
---

<footer class="bg-zinc-700 w-full">
  <div class="container px-6 py-4 mx-auto">
    <div class="flex flex-col items-center justify-center text-center">
      <a href="/volcancafe/" class="text-4xl text-white font-thin">
        Volcán & Caféencia Turística</a
      >

      <ul class="flex flex-wrap justify-center mt-6 -mx-4 text-white">
        {
          menuitems.map((item) => (
            <li>
              <a class="mx-4 text-sm " href={item.path}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <hr class="my-6 border-gray-500 md:my-10" />

    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <p class="text-sm text-gray-100">
        © Copyright 2023 <a
          href=""
          class="hover:text-white text-rose-700 dark:hover:text-black">Leo</a
        >
      </p>

      <div class="flex space-x-4">
        <SocialIcons iconColor="white" />
      </div>
    </div>
  </div>
</footer>
