---
import CldImage from "./layout/CldImage.astro";
---

<section>
  <div class="px-6 mx-auto max-h-max max-w-[1400px]">
    <div
      class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
    >
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
      >
        <h1
          class="title-font sm:text-3xl text-4xl mb-4 font-medium text-stone-900"
        >
          Presentación
        </h1>
        <div class="text-lg">
          <p class="mb-8 leading-relaxed">
            Hola, somos “VOLCÁN & CAFÉ” para nosotros es un placer darles a
            conocer nuestra agencia turística en la cual podemos asegurarte
            nuestro compromiso y dedicación en cada uno de los servicios que
            ofrecemos como empresa, con el fin de cumplir todas las necesidades
            y expectativas de nuestros clientes.
          </p>
          <p class="mb-8 leading-relaxed">
            !SOMOS LA AGENCIA NÚMUERO UNO EN RENTA DE CABAÑAS EN EL ESTADO DE
            COLIMA, TAMBIEN CONTAMOS CON CABAÑAS EN EL ESTADO DE JALISCO!.
          </p>
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <CldImage alt="Imagen de Volcán café" src="uctzzvyn4leuds7yf3ub" />
      </div>
    </div>
  </div>
</section>
