---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
//import ThemeToggle from "./themetoggle.tsx";

const menuitems = [
  {
    title: "Cabañas",
    path: "/volcancafe/cabanas",
  },
  {
    title: "Casas Descanso",
    path: "/volcancafe/descanso",
  },
  {
    title: "Villas",
    path: "/volcancafe/villas",
  },
  {
    title: "Hoteles",
    path: "/volcancafe/hoteles",
  },

  {
    title: "Tours",
    path: "/volcancafe/tours",
  },
  { title: "Bodas", path: "/volcancafe/bodas" },

  {
    title: "Contacto",
    path: "/volcancafe/contacto",
  },
];
interface Props {
  img?: string;
}
const { img } = Astro.props;
---

<div
  class="p-4 shadow-md items-center bg-center bg-cover bg-local  text-white h-auto lg:h-48 font-bold"
  style="background-image: url('../images/navb1.jpg') "
>
  <div class="max-w-screen-xl mx-auto">
    <header class="flex flex-col lg:flex-row justify-between my-5 items-center">
      <Astronav>
        <div
          class="flex w-full lg:w-auto items-center justify-between lg:justify-between"
        >
          <a href="/volcancafe/" class="text-3xl">
            Volcán & Café - Agencia Turística
          </a>
          <div class="block lg:hidden px-4">
            <MenuIcon class="w-4 h-4" />
          </div>
        </div>
        <MenuItems
          class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 backdrop-brightness-100"
        >
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item) => (
                <>
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2  hover:underline text-lg  hover:scale-105 duration-300  rounded-lg"
                    >
                      {item.title}
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>
      <!-- <ThemeToggle />-->
    </header>
  </div>
</div>

<!-- <script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
 -->
