---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ThemeToggle from "@components/ThemeToggle";
import { Image } from "astro:assets";
import NavImg from "@assets/navImg.webp";
import NavCover from "@assets/layout/banner.webp";

const menuitems = [
  {
    title: "Cabañas",
    path: "/volcancafe/cabanas",
  },
  {
    title: "Descanso",
    path: "/volcancafe/descanso",
  },
  {
    title: "Villas",
    path: "/volcancafe/villas",
  },
  {
    title: "Hoteles",
    path: "/volcancafe/hoteles",
  },

  {
    title: "Tours",
    path: "/volcancafe/tours",
  },
  { title: "Bodas", path: "/volcancafe/bodas" },

  {
    title: "Contacto",
    path: "/volcancafe/contacto",
  },
];
---

<div
  class="p-4 shadow-xl text-white h-auto font-bold bg-gradient-to-bl from-zinc-950 via-lime-950 to-zinc-950
  "
>
  <div class="max-w-[1400px] mx-auto">
    <header class="flex flex-col lg:flex-row justify-between  items-center">
      <Astronav>
        <div
          class="flex w-full lg:w-auto items-center justify-between lg:justify-between"
        >
          <a href="/volcancafe/" class="text-2xl flex items-center">
            <Image
              alt="Navbar image"
              quality="low"
              format="avif"
              src={NavImg}
              class="xl:w-1/5 md:block flex sm:w-1/2 sm:mx-auto xl:mx-0"
              href="/volcancafe/"
            />
            <span class="sm:hidden md:inline hidden"
              >Volcán & Café - Agencia Turística</span
            >
          </a>

          <div class="block lg:hidden px-4">
            <MenuIcon class="w-4 h-4" />
          </div>
        </div>
        <MenuItems
          class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 backdrop-brightness-100"
        >
          <ul class="flex flex-col lg:flex-row lg:gap-2">
            {
              menuitems.map((item) => (
                <>
                  <li class="flex lg:px-4 lg:py-8 sm:py-2  ">
                    <a
                      href={item.path}
                      class=" hover:underline text-lg  hover:scale-110 duration-300 "
                    >
                      {item.title}
                    </a>
                  </li>
                </>
              ))
            }
            <ThemeToggle client:load />
          </ul>
        </MenuItems>
      </Astronav>
    </header>
  </div>
</div>
