---
import SocialIcons from "@components/layout/SocialIcons.astro";
---

<section class="text-gray-600 overflow-hidden py-8">
  <div class="container px-6 mx-auto max-w-[1400px]">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="Registro nacional de turismo "
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded-xl"
        src="https://res.cloudinary.com/diiabesnk/image/upload/v1688430856/p5tksiuj1u6fmgfca15a.jpg"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          Sobre nosotros
        </h1>

        <p class="leading-relaxed">
          Contamos con nuestro <a
            class="text-rose-700 font-bold underline"
            href="http://rnt.sectur.gob.mx/Grd_TurGenerales/"
            target="_blank">REGISTRO NACIONAL DE TURISMO</a
          > (RNT) Folio
          <span class="text-rose-700 font-bold">35060030002</span> , Además estamos
          afiliados a la Cámara Nacional de Comercio Servicios y Turismo de Colima
          (CANACO) (SERVYTUR). Por ello somos una empresa totalmente confiable y
          segura.
        </p>
        <p>
          Llamanos directamente: <a
            href="tel:+523122707569"
            class="text-rose-700 font-bold">+52 312 270 75 69</a
          >
        </p>

        <div
          class="flex mt-6 items-center pb-5 border-b-2 border-gray-500 mb-5"
        >
          <div class="flex ml-6 items-center px-4">
            <SocialIcons />
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900"
            >Envianos tus dudas</span
          >
          <button
            class="flex ml-auto text-white bg-rose-500 border-0 py-2 px-6 focus:outline-none hover:bg-rose-600 rounded"
          >
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSc4UFqpUJhiddWDphnxox-HegMY_fsKVF91pPOdKWG4MOtAig/viewform"
              target="_blank">Formulario</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-4 text-black">
    <div class="max-w-6xl px-6 py-4 mx-auto">
      <main
        class="relative z-20 w-full mt-8 md:flex md:items-center xl:mt-12 md:justify-center"
      >
        <div class="absolute w-full bg-stone-300 -z-10 md:h-96 rounded-2xl">
        </div>

        <div
          class="w-full p-6 md:flex md:items-center rounded-2xl md:bg-transparent md:p-0 lg:px-12 md:justify-evenly"
        >
          <div class="mt-2 md:mx-6">
            <div>
              <p class="text-xl font-medium tracking-tight">CONACO</p>
            </div>

            <p class="mt-4 text-lg leading-relaxed md:text-xl">
              Nuestro equipo de trabajo está conformado por personal
              profesional, guías especializados y los mejores prestadores de
              servicios turísticos, también ofrecemos servicio de transporte en
              vehículos de 14 y 20 pasajeros con todas las comodidades y
              completamente equipados para que su viaje sea totalmente
              placentero.
            </p>
          </div>
          <img
            class="justify-center rounded-3xl items-center h-[32rem] w-80 md:mx-6 object-cover shadow-md md:h-[32rem] md:w-80 lg:h-[36rem] lg:w-[26rem] md:rounded-2xl"
            src="https://res.cloudinary.com/diiabesnk/image/upload/v1688430856/weatgebl1txnmpvrhfk0.jpg"
            alt="client photo"
          />
        </div>
      </main>
    </div>
  </div>
</section>
