---
import ProcesarImg from "@components/ProcesarImg.astro";
import images from "@data/imagesA";
---

<div
  class="max-w-[1400px] lg:h-[500px] bg-gradient-to-r from-green-600 to-emerald-600 mx-auto my-5 pt-16 lg:mb-[15%] px-4 grid lg:grid-cols-3 gap-4 rounded-lg dark:bg-lime-900 text-white h-auto"
>
  <div class="lg:top-20 relative lg:col-span-1 col-span-2 dark:text-gray-200">
    <h3 class="text-2xl font-bold">Bodas</h3>
    <p class="pt-4">
      La mejor organización, logística, coordinación, asesoría, decoración y
      proveedores, la encontraras con nuestros wedding planners exclusivos.
    </p>
    <p class="pt-4">
      Si buscas un <span class="underline font-semibold dark:text-lime-300"
        >Wedding Planner</span
      > para organizar tu <span
        class="underline font-semibold dark:text-lime-300">Boda</span
      >, ¡Nosotros Somos Tu Mejor Opción!
    </p>

    <div class="pt-4">
      <button
        class="border-lime-200 border-2 mr-4 hover:shadow-xl rounded-lg p-2 dark:border-lime-300 text-emerald-50"
      >
        <a href="/volcancafe/contacto"> Cotiza tu boda</a>
      </button>
    </div>
  </div>

  <div class="grid grid-cols-2 col-span-2 gap-2">
    <ProcesarImg
      imgClass="object-cover w-full h-full rounded-lg"
      calida="mid"
      img={images.boda1}
      alt="Boda 1"
    />
    <ProcesarImg
      calida="mid"
      imgClass="row-span-2 object-cover w-full h-full rounded-lg"
      img={images.boda5}
      alt=" Boda 3"
    />
    <ProcesarImg
      imgClass="object-cover w-full h-full rounded-lg"
      img={images.boda12}
      calida="mid"
      alt="Boda 2"
    />
  </div>
</div>
